<template>
  <b-navbar toggleable="lg" type="dark">
    <i class="el-icon-s-fold current" @click="colapeMenu"></i>
    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto" style="display: flex; align-items: center">
      <el-badge :value="12" class="item">
        <i class="el-icon-search"></i>
      </el-badge>
      <i class="el-icon-search px-5"></i>
      <el-dropdown>
        <span class="el-dropdown-link">
          <div class="block">
            <el-avatar :size="45"></el-avatar>
          </div>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>Action 1</el-dropdown-item>
          <el-dropdown-item>Action 2</el-dropdown-item>
          <el-dropdown-item>Action 3</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  methods: {
    colapeMenu() {
      this.$emit('click')
    },
  },
}
</script>

<style>
.current {
  cursor: pointer;
}
</style>
