<template>
  <div class="left-menu">
    <el-menu
      default-active="1-1"
      class="el-menu-vertical-demo"
      :collapse="isCollapse"
    >
      <div class="logo">
        <h1>18CN3</h1>
      </div>
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span slot="title">Quản trị hệ thống</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1">Danh sách người dùng</el-menu-item>
          <el-menu-item index="1-2">Quản trị menu</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
      <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-menu"></i>
          <span slot="title">Quản lý mượn phòng</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="2-1">Danh sách phòng</el-menu-item>
          <el-menu-item index="2-2">Danh sách mượn phòng</el-menu-item>
          <el-menu-item index="2-3">Lịch mượn phòng</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
      <el-submenu index="3">
        <template slot="title">
          <i class="el-icon-document"></i>
          <span slot="title">Báo cáo</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="3-1">Báo cáo người dùng</el-menu-item>
          <el-menu-item index="4-2">Báo cáo mượn phòng</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
export default {
  props: ['isCollapse'],
  data() {
    return {}
  },
}
</script>

<style>
.logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
