<template>
  <el-container>
    <el-aside :width="this.width" style="height: 100%">
      <left-menu :isCollapse="isCollapse"></left-menu>
    </el-aside>
    <el-container>
      <el-header>
        <headerf @click="click"></headerf>
      </el-header>
      <el-main style="background-color: #eeeff4;"><Nuxt /></el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  components: {
    'left-menu': () => import('/components/LeftMenu.vue'),
    headerf: () => import('/components/Headerf.vue'),
  },
  data() {
    return {
      width: '350px',
      isCollapse: false,
    }
  },
  methods: {
    click() {
      this.isCollapse = !this.isCollapse
      if (this.isCollapse) {
        this.width = '65px'
      } else {
        this.width = '350px'
      }
    },
  },
}
</script>

<style></style>
